<div ng-controller="editblogCtrl">
    <section class="container services">
        <div id="wrapper">
            <div class="wrapper wrapper-content  animated fadeInRight article">
                <div class="row">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="text-center">
                                <h1>
                                    Edit blog
                                </h1>
                            </div>
                            <form class="m-t" role="form" novalidate name="blogForm"
                                  ng-submit="submitForm(blogForm.$valid)">
                                <div class="form-group col-md-offset-1 col-md-10"
                                     ng-class="{ 'has-error' : blogForm.blog.title.$invalid && !blogForm.blog.title.$pristine && blogForm.blog.title.$dirty}">
                                    <input type="text" name="blog_title" class="form-control" placeholder="Blog Title"
                                           ng-required="true"
                                           ng-model="blog.title">
                                    <div ng-show="blogForm.$submitted || blogForm.blog.title.$touched">
                                        <p ng-show="blogForm.blog.title.$error.required" class="help-block">Blog title
                                            is required.</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-10 col-md-offset-1">
                                    <summernote height="525" ng-model="blog.content" class="form-control"></summernote>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-8 col-md-1">
                                        <a type="button" ng-click="cancel()" class="btn btn-rounded btn-warning btn-outline">Cancel</a>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-rounded btn-info btn-outline">Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="footer">
                                <div class="pull-right">
                                    <strong>Learn</strong> and <strong>live</strong>.
                                </div>
                                <div>
                                    <strong>Celine's</strong> Blog &copy; 2016
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>