<div>
    <section class="container services">
        <div id="wrapper">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="text-center">
                                    <h1>
                                        Blog List
                                    </h1>
                                </div>
                                <!-- <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" ng-model="searchText">
                                </div> -->
                                <!-- <div class="vote-item" ng-repeat="blog in blogs | filter:searchText"> -->
                                <div class="vote-item" ng-repeat="blog in blogs">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <a data-target="#angularjs" ui-sref="blogs.detail({blogId:blog.objectId})" class="vote-title">{$ blog.title $}</a>
                                            <div class="vote-info">
                                                <i class="fa fa-clock-o"></i> <a href="#" onclick="return false;">{$ blog.createdAt | date:'fullDate' $}</a>
                                                <i class="fa fa-user"></i> <a href="#" onclick="return false;">Celine</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
