<style type="text/css">
    div p p, div p div.alert, div p li
    {white-space: pre-wrap;
     word-wrap: break-word;}
</style>
<div ng-controller="blogCtrl">
    <section class="container services">
        <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right"></div>
                            <div class="text-center article-title">
                                <span class="text-muted"><i class="fa fa-clock-o"></i> {$ blog.createdAt | date:'fullDate' $}</span>
                                <h1>
                                    {$ blog.title $}
                                </h1>
                            </div>
                            <div>
                                <p ng-bind-html="blog.content | sanitize"></p>
                            </div>
                            <br>
                            <div class="form-group" ng-if="ctrl">
                                <hr>
                                <a data-target="#angularjs" ui-sref="blogs.edit({blogId:blog.objectId})" type="button"
                                   class="btn btn-warning btn-sm">Edit</a>
                                <a ng-click="delete_blog()" type="button" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                            <hr>
                            <h3>Share</h3>
                            <div class="row">
                                <div class="vote-icon pull-left"><a id="riverroad" title="" ><i class="fa fa-qrcode"></i></a></div>
                            </div>
                            <div id="comment" style="display: none;">
                                <qrcode data="{$ blogUrl $}" size="120" error-correction-level="M" download></qrcode>
                            </div>
                            <footer class="col-sm-offset-1">If you scan it with Wechat,please open it in other browser.</footer>
                            <hr>
                            <h3>Comments:</h3>
                            <div ng-show="username" class="animate-show">
                                <form class="m-t animate-hide" role="form" novalidate name="commentForm" ng-submit="submitForm()" ng-show="!commented">
                                    <div class="form-group">
                                        <summernote height="250" ng-model="comment_text" on-image-upload="imageUpload(files)" editable="editable" editor="editor" class="form-control"></summernote>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-9 col-md-1">
                                            <a ng-click="text_reset()" class="btn btn-sm btn-rounded btn-warning btn-outline">Reset</a>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn btn-sm btn-rounded btn-info btn-outline">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div ng-hide="username" class="animate-hide">
                                &emsp;&emsp;<label>Not logged in?</label>&emsp;
                                <a class="btn btn-sm btn-rounded btn-info btn-outline" data-target="#angularjs" ui-sref="user.login">Login</a>
                            </div>
                            <br>
                            <div  ng-repeat="comment in comments">
                                <div class="vote-item animate-hide">
                                    <div class="row">
                                        <div>
                                            <p ng-bind-html="comment.content | sanitize"></p>
                                        </div>
                                        <div class="vote-info">
                                            <i class="fa fa-clock-o"></i> <a>{$ comment.createdAt | date:'fullDate' $}</a>
                                            <i class="fa fa-user"></i> <a>{$ comment.username $}</a>
                                            <i ng-show="username" class="fa fa-reply"></i> <a ng-show="username" ng-click="GoTo('comment', comment.username, comment.content)">Reply</a>
                                            <div ng-if="username == comment.username" style="float: right;">
                                                <!--<i class="fa fa-edit"></i> <a>Edit</a>-->
                                                <i class="fa fa-trash-o"></i> <a ng-click="delete_comment(comment.objectId)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<script>
    $(function () {
        setTimeout(function(){
//            console.log($(".qrcode-link").attr("href"));
            var imgdata = $(".qrcode-link").attr("href");
            $("#riverroad").tooltip({ content: "<img src=" + imgdata +" />" });
        }, 1000);
    })
</script>
