<div>
    <div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="loginCtrl">
        <div>
            <div>
                <h1 class="logo-name">10<sup>9</sup>L</h1>
            </div>
            <h3>Welcome to 10<sup>9</sup> LOTTERY</h3>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" novalidate name="loginForm" ng-submit="submitForm(loginForm.$valid)">
                <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine && loginForm.username.$dirty}">
                    <input type="text" name="username" class="form-control" placeholder="Username" ng-required="true" ng-model="username">
                    <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                        <p ng-show="loginForm.username.$error.required" class="help-block">Username is required.</p>
                        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Username is invalid.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine && loginForm.password.$dirty}">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-required="true" ng-model="password">
                    <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                        <p ng-show="loginForm.password.$error.required" class="help-block">Password is required.</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-info block full-width m-b" ng-disabled="loginForm.$invalid">Login</button>
            </form>
            <a data-target="#angularjs" ui-sref="user.forgotpassword"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" data-target="#angularjs" ui-sref="user.register">Create an account</a>
            <p class="text-muted text-center"><small>Or</small></p>
            <a class="btn btn-sm btn-success btn-block" href="https://github.com/login/oauth/authorize?client_id=66d71e5c5d53bb41fa0a&state=Jalpclogin&redirect_uri=http://angular.jack003.com" >Login with github</a>
            <!--<a class="btn btn-sm btn-success btn-block" href="https://github.com/login/oauth/authorize?client_id=66d71e5c5d53bb41fa0a&state=Jalpclogin&redirect_uri=http://localhost:4000" >Login with github</a>-->
            <p class="text-muted text-center"><small>Or back to <a data-target="#angularjs" ui-sref="index">home.</a></small></p>
            <p class="m-t"> <small>10<sup>9</sup> LOTTERY &copy; 2015</small> </p>
        </div>
    </div>
</div>
