<div>
    <div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="resetpasswordCtrl">
        <div>
            <div>
                <h1 class="logo-name">10<sup>9</sup>L</h1>
            </div>
            <h3>Register to 10<sup>9</sup>  LOTTERY</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" novalidate name="resetpasswordForm" ng-submit="submitForm(resetpasswordForm.$valid)">
                <div class="form-group" ng-class="{ 'has-error' : resetpasswordForm.old_password.$invalid && !resetpasswordForm.old_password.$pristine && resetpasswordForm.old_password.$dirty}">
                    <input type="password" name="old_password" class="form-control" placeholder="Old Password" ng-required="true" ng-model="old_password" ng-minlength="8" ng-maxlength="16">
                    <div ng-show="resetpasswordForm.$submitted || resetpasswordForm.old_password.$touched">
                        <p ng-show="resetpasswordForm.old_password.$error.required" class="help-block">Password is required.</p>
                        <p ng-show="resetpasswordForm.old_password.$error.minlength" class="help-block">Password is too short.</p>
                        <p ng-show="resetpasswordForm.old_password.$error.maxlength" class="help-block">Password is too long.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : resetpasswordForm.new_password1.$invalid && resetpasswordForm.new_password1.$dirty}">
                    <input type="password" name="new_password1" class="form-control" placeholder="New Password" ng-required="true" ng-model="new_password1" ng-minlength="8" ng-maxlength="16" onpaste="return false">
                    <div ng-show="resetpasswordForm.$submitted || resetpasswordForm.new_password1.$touched">
                        <p ng-show="resetpasswordForm.new_password1.$error.required" class="help-block">Password is required.</p>
                        <p ng-show="resetpasswordForm.new_password1.$error.minlength" class="help-block">Password is too short.</p>
                        <p ng-show="resetpasswordForm.new_password1.$error.maxlength" class="help-block">Password is too long.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : resetpasswordForm.new_password2.$invalid && resetpasswordForm.new_password2.$dirty}">
                    <input type="password" name="new_password2" class="form-control" placeholder="New Password" ng-required="true" ng-model="new_password2" ng-minlength="8" ng-maxlength="16" onpaste="return false" ng-pattern="new_password1">
                    <div ng-show="resetpasswordForm.$submitted || resetpasswordForm.new_password2.$touched">
                        <p ng-show="resetpasswordForm.new_password2.$error.required" class="help-block">Password is required.</p>
                        <p ng-show="resetpasswordForm.new_password2.$error.minlength" class="help-block">Password is too short.</p>
                        <p ng-show="resetpasswordForm.new_password2.$error.maxlength" class="help-block">Password is too long.</p>
                        <p ng-show="resetpasswordForm.new_password2.$error.pattern" class="help-block">Password not match.</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-info block full-width m-b" ng-disabled="resetpasswordForm.$invalid">Submit</button>
            </form>
            <a class="btn btn-sm btn-white btn-block" ng-click="GoBack()">Cancel</a>
            <p class="m-t"> <small>10<sup>9</sup> LOTTERY &copy; 2015</small> </p>
        </div>
    </div>
</div>